<footer>
   <small>Copyright: &copy;2017 Ati, Chris & Kai.</small>
 <address>
 Written by <a href="mailto:kaileymon@gmail.com">Ati, Chris & Kai</a>.<br> 
 Get the bear truth at: <a href="http://www.bruinwalk.com/">www.bruinwalk.com</a><br>
 </address>
</footer>