<header>
   <h1>Ati + Chris + Kai</h1>
   
   <nav>
      <ul>
         <li><a href="homePage.html">Home</a></li>
         <li><a href="https://github.com/kaileymonn">Projects</a></li>
         <li><a href="KW Resume DB.pdf">Resume</a></li>
   <li><a href="http://dailybruin.com/">DailyBruin</a></li>
      </ul>
   </nav>
</header> 
